<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="background"></div>

  <div class="about content">
    <h2 class="about-title">About Us:</h2>
    <p class="about-content">Heyyyy, welcome to <span class="text">Dear Diary</span>!</p><br/>
    <p class="about-content">This is a place where you can <span class="text">share</span> your thoughts over the world.</p>
    <p class="about-content">Whether you’re <span class="text">journalling</span> your day, <span class="text">posting</span> tech articles, or <span class="text">sharing</span> stories, we keep it simple.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>